{% for lang in site.languages %}
{% if page.layout == 'post' %}
{% assign other=site.posts | where: "ref", page.ref 
                               | where: "lang", lang | first %}
{% else %}
{% assign other=site.pages | where: "ref", page.ref 
                               | where: "lang", lang | first %}
{% endif %}
{% if other.url %}
<a href="{{ other.url }}"
    class="{{ post.lang }}{% if other.lang==page.lang %} activeLang{% endif %}">{{ site.t[lang].language-title }}</a>
{% else %}
<a href="#" class="{{ post.lang }} noTranslation">{{ site.t[lang].language-title }}</a>
{% endif %}
{% endfor %}