<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div id="main-container">
    <div style="flex: 1" {% if page.lang=='he' %} dir="rtl" {% endif %}>
      <div class="wrapper-masthead">
        <div class="container">
          <header class="masthead clearfix">
            <a href="{{site.t[page.lang].index-path}}" class="site-avatar"><img src="{{ site.avatar }}" /></a>

            <div class="site-info">
              <h1 class="site-name"><a href="{{site.t[page.lang].index-path}}">{{ site.t[page.lang].name }}</a></h1>
              <p class="site-description">{{ site.t[page.lang].description }}</p>
            </div>

            <nav>
              {% include menu.html %}
              {% include languages.html %}
            </nav>
          </header>
        </div>
      </div>

      <div id="main" role="main" class="container">
        {{ content }}
      </div>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </div>
</body>

</html>